# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# VSCode
.vscode/

# Virtual environment
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/*
!*/migrations/__init__.py
